*.iml
.gradle
/local.properties
/secrets.properties
.idea
/.idea
/.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app.apks
/bundletool-all-1.11.0.jar
